<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

  <style>
        body {
            background-color: lightgrey;
            font-size: 30px;
            margin : 40px;
            color : black;
        }
        
        h1 {
            color: #294D4A;
            margin-left: 40px;
        }
        a:link {
          color: #38302E;
        }


        a:visited {
            color: #776472;
        }


        a:hover {
        color: #294D4A;
        }

        
        a:active {
        color: blue;
        }
    </style> 
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
    {% block body %} {% endblock body %}
</body>

</html>